.operations {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.operation-container {
    margin-top: calc(2 * var(--resolution));
    margin-bottom: calc(2 * var(--resolution));
    
    background-color: var(--c1) ;
}