.memory {
    width: calc(120 * var(--resolution));
    height: calc(140 * var(--resolution));
    margin: calc(5 * var(--resolution));
}

.memory-inner {
    height: 100%;
    background-color: var(--c21);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.memory-value {
    width: calc(18 * var(--resolution));
    height: calc(5 * var(--resolution));

    background-color: var(--c1);
    color: var(--c24);
    
    font-size: var(--font-size);
    
    display: flex;
    align-items: center;
    justify-content: center;
}