:root {
    --c1: #2e222f;
    --c2: #3e3546;
    --c3: #625565;
    --c4: #966c6c;
    --c5: #ab947a;
    --c6: #694f62;
    --c7: #7f708a;
    --c8: #9babb2;
    --c9: #c7dcd0;
    --c10: #ffffff;
    --c11: #6e2727;
    --c12: #b33831;
    --c13: #ea4f36;
    --c14: #f57d4a;
    --c15: #ae2334;
    --c16: #e83b3b;
    --c17: #fb6b1d;
    --c18: #f79617;
    --c19: #f9c22b;
    --c20: #7a3045;
    --c21: #9e4539;
    --c22: #cd683d;
    --c23: #e6904e;
    --c24: #fbb954;
    --c25: #4c3e24;
    --c26: #676633;
    --c27: #a2a947;
    --c28: #d5e04b;
    --c29: #fbff86;
    --c30: #165a4c;
    --c31: #239063;
    --c32: #1ebc73;
    --c33: #91db69;
    --c34: #cddf6c;
    --c35: #313638;
    --c36: #374e4a;
    --c37: #547e64;
    --c38: #92a984;
    --c39: #b2ba90;
    --c40: #0b5e65;
    --c41: #0b8a8f;
    --c42: #0eaf9b;
    --c43: #30e1b9;
    --c44: #8ff8e2;
    --c45: #323353;
    --c46: #484a77;
    --c47: #4d65b4;
    --c48: #4d9be6;
    --c49: #8fd3ff;
    --c50: #45293f;
    --c51: #6b3e75;
    --c52: #905ea9;
    --c53: #a884f3;
    --c54: #eaaded;
    --c55: #753c54;
    --c56: #a24b6f;
    --c57: #cf657f;
    --c58: #ed8099;
    --c59: #831c5d;
    --c60: #c32454;
    --c61: #f04f78;
    --c62: #f68181;
    --c63: #fca790;
    --c64: #fdcbb0;
}