:root{
    --pixel-size: 0.0025;
    --font-size-scale: 12;
    --resolution: calc(min(100vw, 100vh) * var(--pixel-size));
    --font-size: calc(var(--resolution) * var(--font-size-scale));
}

@font-face {
    font-family: 'PIXEL';
    src: url('PIXEL.ttf');
}

body {
    font-family: 'PIXEL', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--font-size)
}

.container {
    border: calc(8 * var(--resolution)) solid transparent;
	border-image: url('container.png') 38 round;
}

.textbox {
    border: calc(6 * var(--resolution)) solid transparent;
	border-image: url('textbox.png') 24 round;
}

.button {
    border: calc(6 * var(--resolution)) solid transparent;
	border-image: url('button.png') 24 round;
    background-color: #fbb954;
}

.button:active {
    border-image-source: url('button2.png');
}