@font-face {
    font-family: 'PIXEL';
    src: url('PIXEL.ttf');
}

body {
    font-family: 'PIXEL', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32;
}

.container {
    border: 38px solid transparent;
	border-image: url('panel2.png') 38 repeat;
}

.container.inner {
    border: 12px solid transparent;
	border-image: url('panelinner.png') 12 repeat;
}