.instructions {
    width: 250px;
    height: 93%;
    margin: 1%;
}

.textarea {
    width: 98%;
    height: 99.5%;

    resize: none;

    font-family: 'PIXEL';
    font-size: 42px;
    text-shadow: 4px 4px var(--c1);
    outline: none;

    color: var(--c24);
    background-color: var(--c1);

    border: inset 0 0 10px 10px black;
}