.instructions {
    width: 250px;
    height: 93%;
    margin: 1%;
}

.textarea {
    width: 90%;
    height: 98%;

    resize: none;

    font-family: 'PIXEL';
    font-size: 42px;
    text-shadow: 4px 4px black;
    outline: none;

    color: var(--c24);
    background-color: var(--c1);
    border: none
}

.error {
    border: 2px dotted red;
}