.instructions {
    width: 250px;
    margin: 1%;
}

.textarea {
    width: calc(100% - 48px);
    height: calc(100% - 48px);

    padding: 5%;

    resize: none;

    font-family: 'PIXEL';
    font-size: 42px;
    text-shadow: 4px 4px black;
    outline: none;

    color: var(--c24);
    background-color: var(--c1);
    border: none
}

.error {
    color: var(--c12) !important;
}